<div class="col-lg-12">
  <div class="jumbotron" style="margin: 60px">
    <h1>New York Warming</h1>
      <p>Our app lets you visualize the changes in average temperature over months and years in New York history. Historical temperature data is collected via the Wunderground API and then overlaid on maps generated via the ESRI ArcGIS Javascript API.</p>  
      <a class="btn btn-primary btn-lg" href="/">Back to Visuals</a></p>
  </div>
</div>