.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}

/* Pulled from HTML doc */
body {
      font-family: Verdana,Arial,sans-serif;
    }

    h2 {
      font-size: 1.2em;
      margin: 60px 0 5px 0;
    }

    .wrapper div {
      margin: 35px 0;
    }

    .wrapper {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    #slider7 {
      height: 250px;
    }

/* Custom CSS Below */
/********************/
body{
  padding:0;
  margin:0;
  width:100%;
}
div.logo-sm, .esriSimpleSlider.esriSimpleSliderVertical.esriSimpleSliderTL {
  display: none !important;
}
.wrapper{
  width:100%;
}
#day-slider-fixed{
  width:100%;
  position:fixed;
  bottom:0;
  margin:0;
  z-index:99999999999999;
}
#day-slider-container{
  width:80%;
  margin:auto;
}
.d3-slider-horizontal {
  height: 1.3em;
}
.d3-slider-horizontal .d3-slider-handle {
  top: -0.1em;
}
div#day-slider {
  border-radius: 15px;
  -moz-box-shadow: inset 0 0 15px #C0C0C0;
  -webkit-box-shadow: inset 0 0 15px #C0C0C0;
  box-shadow: inset 0 0 15px #C0C0C0;
}
a.d3-slider-handle , .d3-slider-handle:hover{
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 1px 1px 3px #C0C0C0;
}
#mapDiv, #mapDiv2{
  width:50%;
}
.section-container{
  width: 50%;
  float: left;
}
#map-container{
  width:100%;
}
#map-center{
  width:80%;
  margin:auto;
}
.map-div.map{
  height:300px;
}
.input, h2{
  text-align: center;
}
input {
  font-size: 20px;
  text-align: center;
}
div.overlay {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index:9999;
}
.map{
  position:relative;
}

div.ytd-container {
  position: absolute;
  top: 90px;
  left: 90px;
}
div.current-container{
  position: absolute;
  top: 130px;
  left: 95px;
}
div.ytd, div.current-container {
  float: left;
  width: 80px;
}
.ytd-container p, .current-container p {
  float: left;
  margin: 0;
}
.ytd div, .current-container div {
  width: 30px;
  height: 30px;
  float: right;
}
div.current {
  width: 130px;
}
div#day-slider-container h2, #day-slider-container span {
  font-size: 30px;
}

